@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
@media screen and (max-width: 991px) {
  .nav li {
    float: left;
    width: 20%;
    font-size: 16px;
  }
  .article {
    margin-top: 10px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding-left: 15px!important;
  }
  .article {
    margin-top: 10px;
  }
  .nav {
    padding-left: 15px;
  }
  .nav a {
    font-size: 10px!important;
    padding-left: 0!important;
  }
  .news-all :nth-of-type(1) {
    width: 100%!important;
  }
  .news-all li {
    width: 50%!important;
  }
  .send img {
    display: none;
  }
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header {
  padding-left: 0;
}
.header .logo {
  background-color: #eeeeee;
}
.header .logo img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.header .logo span {
  display: block;
  height: 50px;
  line-height: 50px;
  /* color: #fff; */
  font-size: 18px;
  text-align: center;
}
.header .nav {
  background-color: #e77f7f;
  border-bottom: 1px solid #ccc;
}
.header .nav ul {
  padding: 0;
  margin: 0;
}
.header .nav ul li {
  margin-left: 0!important;
  list-style: none;
  margin-left: 30px;
}
.header .nav ul li a {
  display: block;
  /* height: 50px; */
  line-height: 50px;
  text-decoration: none;
  color: #666;
  padding-left: 30px;
  font-size: 16px;
}
.header .nav ul li i {
  margin-right: 9px;
}
.article .news .news-all {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}
.article .news .news-all a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.article .news .news-all li {
  float: left;
  width: 25%;
  height: 128px;
  margin-bottom: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
.article .news .news-all li img {
  width: 100%;
  height: 100%;
}
.article .news .news-all li:nth-child(1) {
  width: 50%;
  height: 266px;
}
.article .news .news-all li p {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  background-color: #110d0d;
  opacity: 0.4;
  text-align: center;
  line-height: 30px;
  margin: 0;
}
.send .pic a {
  display: block;
  padding: 20px;
}
.send .pic a img {
  width: 100%;
}
.banner {
  width: 100%;
  display: block;
}
.banner img {
  width: 100%;
}
.hot {
  border: 1px solid #ccc;
  margin-top: 20px;
  display: block;
  padding: 0 20px 20px 20px;
}
.hot span {
  margin-bottom: 20px;
}
